.principles__list {
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.principles__item {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 120px) / 4);
  }
}

.principles__icon-wrapper {
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
}

.principles__title {
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: #212121;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.principles__description {
  line-height: 1.7;
}
