.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1199px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #212121;
}
