.subscribe-form__input {
  width: 450px;
  max-width: 100%;
  padding: 15px 15px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;

  @media screen and (max-width: 1199px) {
    display: block;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    width: 358px;
  }
}

.subscribe-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
