.page-header {
  min-height: 60px;
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    padding: 10px 0;
  }
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header__logo {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-grow: 1;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.page-header__nav {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
    width: 100%;
  }
}

.page-header__united-block {
  @media screen and (min-width: 767px) {
    flex-grow: 1;
  }
}
