$main-color: #757575;
$highlight-color: #212121;
$white-color: #fff;
$light-grey: #f5f4fa;
$accent-color: #2196f3;
$bg-dark: #2f303a;
$base-font-family: Roboto, sans-serif;
$base-font-size: 14px;
$base-letter-spacing: 0.03em;
$base-line-height: 1.14;
